*:focus {
	border: none;
    outline: none;
}

html, body {
	padding: 0px;
	margin: 0px;
}

input, textarea {
	padding: 30px;

	font-family: Georgia, Times;
	font-size: 22px;
	letter-spacing: 3px;
	line-height: 45px;

	border: none;
	overflow: auto;
	resize: none;
}

#save {
	position: absolute;
	left: 15px;
	top: 15px;

	opacity: 0.5;

	cursor: pointer;

	z-index: 2;
}

#pros {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 90%;

	background-color: #8cbeb2;
	color: #ffffff;

	text-align: right;

	z-index: 1;
}

#cons {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 90%;

	background-color: #ef6060;
	color: #ffffff;

	text-align: left;

	z-index: 1;
}

#summary {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 10%;

	background-color: #5c4b51;
	color: #f2ebbf;

	line-height: 22px;
	text-align: center;

	z-index: 2;
}